main{
    text-align: center;
}



.edu__title{
    font-size: larger;
    font-weight: bold;
}
.edu__subtitle{
    font-size: smaller;
}
.cal{
    font-size: small;
}
.grade{
    font-size: small;
}
.line{

    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: aliceblue;
    transform: translate(6px,-7px);

}
.edu_container{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}