

.box-container{
    
    display:flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* overflow:scroll; */
}
#skills, #projects{
    padding: 100px;
}
#position {
    margin: 10px;
    padding-top: 100px;
    

}
#position .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#blogs{
    padding: 100px;
}