* {
    background-color: black;
    color: white;
    /* font-size: 98.5%; */
}

body{
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
}
.right-col{
    align-items: center;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 125px;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    list-style-type: none;
    display: flexbox;
    gap: 4.1em;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    position: relative;

}
nav ul li a.active:before{
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid white;
    bottom: -6px;
}

nav ul li a:hover:before {
    width: 35%;
}

/* onli when we hover in nav*/
nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid white;
    bottom: -6px;
    transition: width .3s;
}
/* active line  */
.main_div{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2,auto);;
    /* gap: 3em; */
}
.nam{
    font-size: smaller;
}
h1{

    font-family: 'Zeyada';
    font-weight: normal;
    margin: 0;
}

.primary-cta{
    margin-top: 10rem;
    background-color: antiquewhite;
    font-size: 1.rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
}

.section__title{
    text-align: center;

}
.cont-left{
    flex-basis: 35%;
}
.cont-right{
    flex-basis: 60%;
}


.cont-left p i{
    text-decoration: none;

    color: rebeccapurple;

    
}

.soc-icons a{
    display: inline-block;

    transition: transform 0.5s;
}

.soc-icons a:hover{
    transform: translateY(-5px);
}

.btn{
    display: inline-block;
    background-color: rebeccapurple;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;

}


form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.row{
    display: flex;}

.submit {
    align-self: flex-end;
    width: 30%;
}
@media screen and (max-width: 500px) {
    
nav ul li a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
}
      
    nav ul li a.active:before{
        position: absolute;
        content: "";
        width: 35%;
        height: 1px;
        border-bottom: 2px solid white;
        bottom: -6px;
    }
    
    nav ul li a:hover:before {
        width: 35%;
    }
    
    /* onli when we hover in nav*/
    nav ul li a:before {
        position: absolute;
        content: "";
        width: 0%;
        height: 1px;
        border-bottom: 2px solid white;
        bottom: -6px;
        transition: width .3s;
    }
    }
  